Repository duckdb/duckdb, pull requests merged in 2022-07, with the labels that each got.

#4070 [JDBC] CachedRowSet support
  tools/jdbc/src/main/java/org/duckdb/DuckDBPreparedStatement.java
  tools/jdbc/src/main/java/org/duckdb/DuckDBResultSetMetaData.java
  tools/jdbc/src/test/java/org/duckdb/test/TestDuckDBJDBC.java
Labels: API, JDBC

#3694 List lambdas
  src/common/types.cpp
  src/function/function.cpp
  src/function/scalar/list/CMakeLists.txt
  src/function/scalar/list/flatten.cpp
  src/function/scalar/list/list_lambdas.cpp
  src/function/scalar/list/list_value.cpp
  src/function/scalar/nested_functions.cpp
  src/function/scalar_macro_function.cpp
  src/include/duckdb/common/enums/expression_type.hpp
  src/include/duckdb/common/types.hpp
  src/include/duckdb/function/scalar/nested_functions.hpp
  src/include/duckdb/parser/expression/lambda_expression.hpp
  src/include/duckdb/planner/binder.hpp
  src/include/duckdb/planner/expression/bound_lambda_expression.hpp
  src/include/duckdb/planner/expression/list.hpp
  src/include/duckdb/planner/expression_binder.hpp
  src/include/duckdb/planner/table_binding.hpp
  src/parser/expression/lambda_expression.cpp
  src/parser/parsed_expression_iterator.cpp
  src/parser/transform/expression/transform_lambda.cpp
  src/planner/binder.cpp
  src/planner/binder/expression/bind_columnref_expression.cpp
  src/planner/binder/expression/bind_function_expression.cpp
  src/planner/binder/expression/bind_lambda.cpp
  src/planner/binder/expression/bind_macro_expression.cpp
  src/planner/binder/query_node/bind_table_macro_node.cpp
  src/planner/binder/statement/bind_create.cpp
  src/planner/expression/CMakeLists.txt
  src/planner/expression/bound_lambda_expression.cpp
  src/planner/expression_binder.cpp
  src/planner/table_binding.cpp
  test/sql/catalog/function/test_subquery_macro.test
  test/sql/function/list/lambdas/expression_iterator_cases.test
  test/sql/function/list/lambdas/filter.test
  test/sql/function/list/lambdas/incorrect.test
  test/sql/function/list/lambdas/lambdas_and_macros.test
  test/sql/function/list/lambdas/list_comprehension.test
  test/sql/function/list/lambdas/storage.test
  test/sql/function/list/lambdas/transform.test
  test/sql/function/nested/test_lambda.test
  test/sql/prepared/prepare_lambda.test
  third_party/libpg_query/grammar/grammar.y
  third_party/libpg_query/grammar/statements/select.y
  third_party/libpg_query/include/nodes/parsenodes.hpp
  third_party/libpg_query/include/parser/gram.hpp
  third_party/libpg_query/scan.l
  third_party/libpg_query/src_backend_parser_gram.cpp
  third_party/libpg_query/src_backend_parser_scan.cpp
Labels: feature, Merge After Feature Freeze

#3968 Issue #3954: Spooled Window Sinks
  benchmark/tpcds/sf1/tpcds_sf1.benchmark.in
  src/common/row_operations/row_external.cpp
  src/common/sort/sort_state.cpp
  src/common/types/CMakeLists.txt
  src/common/types/row_data_collection_scanner.cpp
  src/execution/aggregate_hashtable.cpp
  src/execution/operator/aggregate/physical_hash_aggregate.cpp
  src/execution/operator/aggregate/physical_window.cpp
  src/execution/operator/join/physical_range_join.cpp
  src/execution/operator/order/physical_order.cpp
  src/execution/partitionable_hashtable.cpp
  src/execution/physical_operator.cpp
  src/execution/radix_partitioned_hashtable.cpp
  src/include/duckdb/common/row_operations/row_operations.hpp
  src/include/duckdb/common/sort/sort.hpp
  src/include/duckdb/common/types/row_data_collection.hpp
  src/include/duckdb/common/types/row_data_collection_scanner.hpp
  src/include/duckdb/execution/operator/aggregate/physical_hash_aggregate.hpp
  src/include/duckdb/execution/operator/aggregate/physical_window.hpp
  src/include/duckdb/execution/partitionable_hashtable.hpp
  src/include/duckdb/execution/physical_operator.hpp
  src/include/duckdb/execution/radix_partitioned_hashtable.hpp
  src/storage/buffer_manager.cpp
  test/sql/generated_columns/virtual/partition.test
  test/sql/storage_version/storage_version.test_slow
  test/sql/window/test_over_grouping.test_slow
Labels: enhancement, Execution, Gold Foundation Member

#4075 feat(breaking): improve python exceptions
  tools/pythonpkg/CMakeLists.txt
  tools/pythonpkg/duckdb-stubs/__init__.pyi
  tools/pythonpkg/duckdb_python.cpp
  tools/pythonpkg/src/exceptions.cpp
  tools/pythonpkg/src/include/duckdb_python/exceptions.hpp
  tools/pythonpkg/tests/fast/api/test_insert_into.py
  tools/pythonpkg/tests/fast/test_map.py
Labels: API, Python

#3600 Issue #1466: added `map_from_entries` function
  src/function/scalar/map/CMakeLists.txt
  src/function/scalar/map/map.cpp
  src/function/scalar/map/map_from_entries.cpp
  src/function/scalar/nested_functions.cpp
  src/include/duckdb/function/function.hpp
  src/include/duckdb/function/scalar/nested_functions.hpp
  test/sql/types/nested/map/map_from_entries/column.test
  test/sql/types/nested/map/map_from_entries/column_null_entry.test
  test/sql/types/nested/map/map_from_entries/data_types.test
  test/sql/types/nested/map/map_from_entries/empty.test
  test/sql/types/nested/map/map_from_entries/invalid.test
  test/sql/types/nested/map/map_from_entries/nested.test
  test/sql/types/nested/map/map_from_entries/null.test
  test/sql/types/nested/map/map_from_entries/null_entry.test
Labels: feature

#4159 Issue #4158: Window OVER Payloads
  src/execution/operator/aggregate/physical_window.cpp
Labels: Execution, Gold Foundation Member

#4168 Issue #4161: Create WindowExecutor
  src/execution/operator/aggregate/physical_window.cpp
Labels: Execution, Gold Foundation Member

#4178 Issue #4134: Mixed Streaming Window
  src/execution/physical_plan/plan_window.cpp
  test/sql/window/test_streaming_window.test
Labels: feature

#4177 Issue #4161: Window Output Chunks
  src/execution/operator/aggregate/physical_window.cpp
Labels: Execution, Gold Foundation Member

#4190 Issue #4176: Streaming Windowed Aggregates
  benchmark/micro/window/window_streamed_sum.benchmark
  src/execution/operator/aggregate/physical_streaming_window.cpp
  src/execution/physical_plan/plan_window.cpp
  test/sql/window/test_streaming_window.test
Labels: enhancement, Execution
