Repository duckdb/duckdb, pull requests merged in 2023-10, with the labels that each got.

#9126 Add support for parquet key-value metadata
  extension/parquet/include/parquet_metadata.hpp
  extension/parquet/include/parquet_writer.hpp
  extension/parquet/parquet_extension.cpp
  extension/parquet/parquet_metadata.cpp
  extension/parquet/parquet_writer.cpp
  src/include/duckdb/main/extension_entries.hpp
  test/sql/copy/parquet/kv_metadata.test
Labels: feature

#9427 [Python] Support replacement scan on `connection.table(<name>)` method
  tools/pythonpkg/src/pyconnection.cpp
  tools/pythonpkg/tests/fast/relational_api/test_rapi_query.py
  tools/pythonpkg/tests/fast/test_replacement_scan.py
Labels: Needs Documentation

#8972 Implement array-based JDBC ResultSet
  tools/jdbc/src/main/java/org/duckdb/DuckDBArray.java
  tools/jdbc/src/main/java/org/duckdb/DuckDBArrayResultSet.java
  tools/jdbc/src/test/java/org/duckdb/test/TestDuckDBJDBC.java
Labels: JDBC

#9521 Internal #582: Remove utc_offset Dependency
  extension/icu/icu-timezone.cpp
  test/sql/function/timestamp/test_icu_strptime.test
  test/sql/timezone/test_icu_timezone.test
Labels: Test, reproduced
