Repository duckdb/duckdb, pull requests merged in 2023-05, with the labels that each got.

#7343 Improve error message for unexpected constraint violations
  src/execution/index/art/art.cpp
  test/sql/index/art/art_eager_constraint_checking.test
Labels: Index, Documentation

#7380 Avoid double rollback caused by a constraint violation
  src/transaction/duck_transaction.cpp
  test/sql/index/art/art_issue_7349.test
Labels: Index, bug-fix

#7410 Correctly concatenate ART prefixes during deletions
  src/execution/index/art/prefix.cpp
  test/fuzzer/pedro/art_concatenate_prefix.test
Labels: Index, bug-fix

#7372 Fix elusive unrecognized ART node type bug
  src/execution/index/art/art.cpp
  test/sql/parallelism/interquery/test_concurrent_index.cpp
Labels: Index, bug-fix

#7428 Issue #7426: DuckDBVector getTimestamp
  tools/jdbc/src/main/java/org/duckdb/DuckDBVector.java
  tools/jdbc/src/test/java/org/duckdb/test/TestDuckDBJDBC.java
Labels: JDBC, bug-fix

#7425 Correctly reset the ART keys during index joins
  data/csv/index_join_issue_7267/addresses.csv
  data/csv/index_join_issue_7267/customers.csv
  data/csv/index_join_issue_7267/demos.csv
  src/execution/index/art/art.cpp
  src/execution/operator/join/physical_index_join.cpp
  test/sql/index/art/test_art_index_join_with_nulls.test
Labels: Index, bug-fix

#7441 Fix another index join bug and move to generated data
  data/csv/index_join_issue_7267/addresses.csv
  data/csv/index_join_issue_7267/customers.csv
  data/csv/index_join_issue_7267/demos.csv
  src/execution/operator/join/physical_index_join.cpp
  test/sql/index/art/test_art_index_join_with_nulls.test
Labels: Test, Index, bug-fix

#7467 Fix unnest rewriter bug
  src/optimizer/unnest_rewriter.cpp
  test/optimizer/unnest_rewriter.test
Labels: Optimizer, bug-fix

#7538 Correctly shift row IDs during ART deletions
  src/execution/index/art/leaf.cpp
  test/sql/index/art/art_issue_7530.test
Labels: bug-fix

#7546 Issue #7543: Ordered MODE() Descending
  src/core_functions/aggregate/holistic/mode.cpp
  src/planner/binder/expression/bind_aggregate_expression.cpp
  test/sql/aggregate/aggregates/test_mode.test
  test/sql/aggregate/aggregates/test_ordered_aggregates.test
  test/sql/types/timestamp/test_infinite_time.test
Labels: bug-fix

#7629 Issue #7563: epoch_us(temporal)
  src/core_functions/function_list.cpp
  src/core_functions/scalar/date/date_part.cpp
  src/include/duckdb/core_functions/scalar/date_functions.hpp
  test/sql/function/date/test_date_part.test
  test/sql/function/interval/test_date_part.test
  test/sql/function/time/test_date_part.test
  test/sql/function/timestamp/test_date_part.test
Labels: feature

#7638 Fix: allow distinct and order by in list aggregates
  src/parser/transform/expression/transform_function.cpp
  test/sql/function/list/list_sort.test
Labels: bug-fix

#7648 Issue #7563: epoch_xs(temporal)
  src/common/types/date.cpp
  src/core_functions/function_list.cpp
  src/core_functions/scalar/date/date_part.cpp
  src/core_functions/scalar/date/epoch.cpp
  src/core_functions/scalar/date/functions.json
  src/include/duckdb/common/types/date.hpp
  src/include/duckdb/core_functions/scalar/date_functions.hpp
  test/sql/function/date/test_date_part.test
  test/sql/function/interval/test_date_part.test
  test/sql/function/time/test_date_part.test
  test/sql/function/timestamp/test_date_part.test
Labels: feature

#7747 Fuzzer #156: Copy Before Swizzle
  src/common/types/row/row_data_collection_scanner.cpp
  test/sql/window/test_split_partition_heap.test
Labels: bug-fix

#7607 Issue #7187: AsOf Join Performance
  .github/config/uncovered_files.csv
  benchmark/micro/join/asof_join_small_probe.benchmark
  src/common/radix_partitioning.cpp
  src/common/sort/partition_state.cpp
  src/execution/operator/join/physical_asof_join.cpp
  src/execution/operator/join/physical_join.cpp
  src/include/duckdb/common/radix_partitioning.hpp
  src/include/duckdb/common/sort/partition_state.hpp
  src/include/duckdb/execution/operator/join/physical_asof_join.hpp
  test/sql/join/asof/test_asof_join.test_coverage
  test/sql/join/asof/test_asof_join_missing.test_slow
  test/sql/join/asof/test_asof_join_timestamps.test
  test/sql/join/asof/test_asof_join_tpch.test_slow
Labels: enhancement
